body{
    height: 100vh;
}
.btnControl{
    flex-direction: column-reverse;
    
}

.rightCol{
    border-left: 2px solid black;
    height: 100%;
}

#results{
    overflow-y: scroll;
    background: lightgray;
    height: 75%;
    position: fixed;
    bottom: 50px;
    word-wrap: break-word;
    width: 70%;

}

.input-group{
    position: fixed;
    width: 70%;
    bottom: 0;
}

#message{
    border-color: black;
}
.newReg, .outlineBlk, .emo{
    border-color: black;
    color: black;
    font-weight: 700;
}
.newReg:hover, .outlineBlk:hover, .emo:hover{
    border-color: black;
    background-color: black;
}

.returning{
    color: white;
    background: black;
    border-color: black;
    font-weight: 700;
}
.returning:hover{
    background: white;
    color: black;
    border-color: black;
}
.emojiMenu{
    /*position: absolute;*/
    z-index: 1000;
    display: none;
    border: 1px solid black;
    background-color: #f0f0f0;
}
.emoji{
    font-size: 16px;
}
.emoji:hover{
    background: rgba(0,0,0,.6);
}